language = "html"
run = "index.html"
<!DOCTYPE html>
<html>
  <head>
    
  
  <a class="active" href="Home.html">Home</a>
  <a href="#Info">Info</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>

</div>
  </head>
  <body>

    <script src="script.js"></script>
  </body>
</html>