body{
  background-image: url("/img/background.jpg") ;
  background-color: cadetblue;
  height:100%;
  background-size: cover;
}
h1{
  color: sandybrown;
}

p{
  color: white;
}

.homepage{
  display: flex;
  justify-content: center;
}
.dot {
  height: 350px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}
.wrapper{
  margin: auto;
  width: 90%;  
  border: 1px solid darkgreen;
  position: relative;
}
a.bubble {
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  height: 150px;
  width: 150px;
  background-size: 150px;
  background-image: url(/img/bubble.png);
  font-size: 30px;
  position:absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic; 
  color: white; 
}
.bubble1{
  top:100px;
  left:50px;
}
.bubble2{
  top:200px;
  left:100px;
}
.bubble3{
  top:50px;
  left:400px;
}

@media (max-width: 600px){
  .bubble3{
    top:50px;
    left:240px;
  } 
}

.block{
  display:flex;/*CSS3*/
  align-items:center;/*Vertical align*/
  justify-content:center;/*horizontal align*/
  border: 1px solidrgb(90, 120, 200);
  height: 150px;
  width: 200px;
  position: absolute;
  color:#5a6c75;
  background-color:#C6DAE6;
  top:150px;
  left:250px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
li {
  display: block;
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#5a6c75;
  font-style:montserat;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: darkcyan;

}
.tekst1 {
  background-color: rgb(33, 167, 160);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px
 ;
}

.tekst2 {
  background-color: rgb(33, 167, 160);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px
 ;
}

.tekst3 {
  background-color: rgb(33, 167, 160);
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px
 ;
}

p {
  font-family: verdana;
  font-size: 20px;
  
}

table, th, td {
  background-color: cadetblue;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px
 ;
}

caption {
  color: black;
}

.contact{
  background-color: darkcyan;
  color: white;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;

}